# Core functionality - changes here should be rare!
/src/app.py                   @sandeepkaki123san
/src/backend/database.py      @sandeepkaki123san
/src/backend/routers/auth.py  @sandeepkaki123san

# The frontend will need refactored soon to be more object oriented.
/src/static/   @sandeepkaki123san
